{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <body>
        Balance: ${{ remaining_balance }}
        <p>
            Portfolio:
        </p>
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Current Price</th>
                    <th>Date Purchased:</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for row in information %}
                <tr>
                    <td>{{ row["stock"] }}</td>
                    <td>{{ row["amount"] }} units</td>
                    <td>${{ row["price"] }}</td>
                    <td>${{ row["current_price"] }}</td>
                    <td>{{ row["date"] }}</td>
                    <td>${{ row["cost"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
